/* Matrix Theme - High Contrast Mode */

.high-contrast .markdown-rendered,
.high-contrast .cm-editor {
  --text-normal: #ccffdd;
  --text-muted: #a6ffe8;
  --color-border: #00bf66;
  --background-modifier-hover: #124e34;
}
