/* Matrix Theme - Metadata & Properties */

.metadata-container {
  background: var(--background-secondary);
  border: var(--border-w) solid var(--background-modifier-border);
  border-radius: var(--radius-m);
  box-shadow: var(--shadow-1);
}

.metadata-container[data-property-count="0"] {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
}

.metadata-container input.metadata-property-key-input {
  background: none;
}

.mod-sidedock .metadata-container[data-property-count="0"] .metadata-add-button {
  margin-top: 0;
}

.is-mobile .metadata-content {
  background-color: transparent;
}

.metadata-property {
  border-bottom: 1px dashed var(--background-modifier-border);
}

.metadata-property-key {
  color: var(--text-accent);
  font-weight: 600;
}

.metadata-add-button {
  background: var(--interactive-normal);
  border: var(--border-w) solid var(--color-border);
}

.mod-sidedock .metadata-add-button {
  position: absolute;
  left: 0;
  margin-top: 1.5em;
}

.mod-sidedock .metadata-container {
  padding: 3px 10px 10px;
}

.metadata-add-button:hover {
  background: var(--interactive-hover);
  border-color: var(--interactive-accent);
}

.metadata-property:hover,
.metadata-property:focus-within {
  box-shadow: 0 0 0 var(--border-w) var(--color-border) !important;
  z-index: 2;
}

.metadata-properties-heading .collapse-indicator {
  inset-inline-start: -13px;
}

body.compact-add-property-button {
  & div.metadata-add-button {
    position: absolute;
  }

  & .markdown-source-view div.metadata-add-button,
  & .markdown-reading-view div.metadata-add-button {
    right: 6px;
    top: 0;
  }

  & div.metadata-add-button span.text-button-label {
    display: none;
  }
}

body.is-phone.compact-add-property-button {
 
  & .markdown-source-view div.metadata-add-button {
    right: 10px;
    top: -43px;
  }
}